.title {
  background: rgb(121, 242, 157);
}
.yzmPass{
  width: 100%;
  height: 30px;
  background: chartreuse;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgs{
  width: 30%;
}